@page "/Recipe/fetchrecipe"
<div>
    <div>
        <h1>Recipe Detail</h1>
        <p>
            <a href="/Recipe/newrecipe">Create New</a>
        </p>
    </div>
    <div>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Comment</th>
                    <th>Creator's Name</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in recipes)
                {
                    <tr>
                        <td>@recipe.Name</td>
                        <td>@recipe.Description</td>
                        <td>@recipe.Comment</td>
                        <td>@recipe.CreatorsName</td>
                        <td>@recipe.Notes</td>
                        <td>
                            <a href='/Recipe/editrecipe/@recipe.ID'>Edit</a>  |
                            <a href='/Recipe/deleterecipe/@recipe.ID'>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@functions {
    Recipe[] recipes;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        recipes = (new AkshaySDemoDbOperations()).GetAllRecipes().ToArray();
    }
}