@page "/Chef/newchef"
@inject NavigationManager Navigation
<div style="width:100%;">
    <div>
        <h1>Create Chef</h1>
        <hr />
    </div>
    <EditForm Model="@chef" OnValidSubmit="@CreateChef">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            First Name
            <InputText @bind-Value="@chef.FirstName" />
        </div>
        <div>
            Last Name
            <InputText @bind-Value="@chef.LastName"></InputText>
        </div>
        <div>
            Country Name
            <InputText @bind-Value="@chef.CountryName"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Save New Chef</button>
    </EditForm>
    <button class="btn btn-warning" @onclick="@cancel">Discard Edits</button>
</div>
@functions {
    Chef chef = new Chef();
    ChefDataAccessLayer dbop = new ChefDataAccessLayer();
    void CreateChef()
    {
        dbop.AddChef(chef);
        Navigation.NavigateTo("/Chef/fetchchefs", true);
    }
    void cancel()
    {
        Navigation.NavigateTo("/Chef/fetchchefs", true);
    }
}