@page "/Chef/newchef"
@inject NavigationManager Navigation
<div style="width:100%;">
    <div>
        <h1>Create Chef</h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="Name" class="control-label">First Name</label>
                    <input for="Name" class="form-control" @bind="@chef.FirstName" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Last Name</label>
                    <textarea asp-for="Description" class="form-control" @bind="@chef.LastName"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Country Name</label>
                    <textarea asp-for="Description" class="form-control" @bind="@chef.Name"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" @onclick="@CreateChef">Save</button>
                    <button class="btn btn-warning" @onclick="@cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
@functions {
    Chef chef = new Chef();
    ChefDataAccessLayer dbop = new ChefDataAccessLayer();
    void CreateChef()
    {
        dbop.AddChef(chef);
        Navigation.NavigateTo("/Chef/fetchchefs", true);
    }
    void cancel()
    {
        Navigation.NavigateTo("/Chef/fetchchefs", true);
    }
}