@page "/fetchrecipe"
<h1>Recipe Detail</h1>
<p>
    <a href="/newrecipe">Create New</a>
</p>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Creator's Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in recipes)
        {
        <tr>
            <td>@recipe.ID</td>
            <td>@recipe.Name</td>
            <td>@recipe.Description</td>
            <td>@recipe.Comment</td>
            <td>@recipe.CreatorsName</td>
            <td>
                <a href='/editrecipe/@recipe.ID'>Edit</a>  |
                <a href='/deleterecipe/@recipe.ID'>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@functions {
    Recipe[] recipes;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        recipes = (new AkshaySDemoDbOperations()).GetAllRecipes().ToArray();
    }
}