@page "/Recipe/MySQL/editrecipe/{recipeId}"
@using AkshaySDemoModels
@inject NavigationManager Navigation
<div style="width:100%;">
    <div>
        <h2>Edit Recipe</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="@recipe.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" class="form-control" @bind="@recipe.Description"> </textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Comment</label>
                    <textarea asp-for="Description" class="form-control" @bind="@recipe.Comment"> </textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Creator's Name</label>
                    <textarea asp-for="Description" class="form-control" @bind="@recipe.CreatorsName"> </textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Notes</label>
                    <textarea asp-for="Description" class="form-control" @bind="@recipe.Notes"> </textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" @onclick="@UpdateRecipe" class="btn btn-primary" />
                    <input type="submit" value="Cancel" @onclick="@cancel" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
</div>
@functions {
    [Parameter]
    public string recipeId { get; set; }
    Recipe recipe = new Recipe();
    AkshaySDemoMySQLDbOperations dbop = new AkshaySDemoMySQLDbOperations();
    protected override void OnInitialized()
    {
        recipe = dbop.GetRecipe(Convert.ToInt32(recipeId));
    }
    protected void UpdateRecipe()
    {
        dbop.UpdateRecipe(recipe);
        Navigation.NavigateTo("/Recipe/MySQL/fetchrecipes", true);
    }
    void cancel()
    {
        Navigation.NavigateTo("/Recipe/MySQL/fetchrecipes", true);
    }
}
